[submodule "projects/project1"]
	path = projects/project1
	url = https://github.com/jlootensdataroots/orphanage
	branch = main-project1
[submodule "projects/project2"]
	path = projects/project2
	url = https://github.com/jlootensdataroots/orphanage
	branch = main-project2
